@charset "utf-8";
/* // 볼드체 인 프로퍼티를 일반굵기로 리셋 */

/* 
    원래 css 주석문
*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
mark {
  background-color: transparent;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

i,
em,
address {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid red;
}

fieldset {
  border: none; /* border:0 */
  /* border: width style color */
}

input[type="text"]::placeholder {
  color: olive;
  font-style: italic;
}

input[type="text"]:focus {
  background-color: olive;
  color: #fff;
}

/* // input[type="search"] {

// }

// input[type="checkbox"] {

// }

// input[type="radio"] {

// } */

button {
  cursor: pointer;
  border: none;
  background: none;
}

/* caption {
  // caption-side: bottom;
} */

.blind,
hr,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}
